*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    background-color: white; 
    font-family: Arial, Helvetica, sans-serif;

}

header{
    width: 100%;
    background-color: grey ;
    color: white;
    text-align: center;
    padding: 15px 15px;
    margin: 15px 5px 10px 15px;
}
nav{
    width: 100%;
    background-color: grey;
    float: left;
    margin: 15px;
    padding: 2px;

}

nav ul{
    list-style: none;


}

nav ul li{
    display: inline;
    margin-right: 15px;

}

nav ul li:last-child{
    margin-left: 0;

}

nav ul li a{
    text-decoration: none;
    color: white;

}

section{
    padding: 20px;

}
article{
    display: block;
    width: 72%;
    float:left;
    padding: 15px;
    background-color: lightgray;
    margin-bottom: ;

}

aside{
    width: 27%;
    float: right;
    background-color: gray;
    padding: 15px;
    margin-bottom: 15px;

}

footer{
    background-color: grey;
    color: white;
    text-align: center;
    width: 100%;
    margin-left: 15px;
    margin: right  15px;
    position: relative;
    align-content: center;    
    bottom: 0;
    padding: 15px;


}