*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: white;
}
header{
    background-color: cornflowerblue;
    color: white;
    padding: 20px;
    font-size: 12px;
    text-align: center;
}
.main_global{
    background-color: yellow;
    width: 100%;
}
img{
    width: 100%;
}

.imagen{
    background-color: beige;
   width: 25%;
   float: left;
   box-shadow: border-box;
   padding: 1em;
   background-size: cover;
   background-repeat: no-repeat;
   opacity: 0.8;
}
footer{
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    bottom: 0;
    position: fixed;
    padding: 8px 0;
    text-align: center;
}